
.btn-primary {
    background-color: #fff;
    color: #F05F40;
}

#education img{
    opacity: 0.7;
}

#education img:hover{
    opacity: 1;
}


#project-heading {
    color: #F05F40;
    padding: 50px;
}

#project2-heading {
    background-color: #F05F40;
    color: #fff;
    padding: 50px;
}

/*#portfolio img{*/
    /*opacity: 0.7;*/
/*}*/